*{
    padding: 0;
    margin: 0;
    background: antiquewhite;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.microsoft{
    width: 330px;
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square.red{
    background-color: #f35322;
}
.square.green{
    background-color: #81dc05;
}
.square.blue{
    background-color: #05a6f1;
}
.square.yellow{
    background-color: #ffba05;
}

.square{
    width: 150px;
    height: 150px;
    margin: 0 10px 10px 0;
    float: left;
}